terra
legion
*.o
*.so
*.bc
*.dylib
*.txt
.metadata
build

examples/gpu/cudaatomic.t
examples/gpu/cudamath.t
examples/gpu/red_ops.t

local_files

simple_trimesh_diffusion_output
vega_output

notes.txt

*config*

.DS_Store
