terra
legion
*.o
*.so
*.bc
*.dylib
*.txt
*.log
.metadata
build

bin/
liszt
ebb

devapps/gpu/cudaatomic.t
devapps/gpu/cudamath.t
devapps/gpu/red_ops.t

local_files

simple_trimesh_diffusion_output
vega_output
liszt_output
liszt_fem_output

notes.txt

.DS_Store
