terra
legion
*.o
*.so
*.bc
*.dylib
*.txt
*.log
.metadata
build/

coverageinfo.lua
coverage_src/
vdb
vdb-src/
vdb-win/

bin/
/liszt
/ebb

devapps/gpu/cudaatomic.t
devapps/gpu/cudamath.t
devapps/gpu/red_ops.t

local_files
legion_log

simple_trimesh_diffusion_output
vega_output
ebb_output
ebb_fem_output
vegamodels/

notes.txt

.DS_Store
